body{
    margin: 0;
    font-family: Roboto; 
  }
  .wrapper{
    max-width: 960px;
    margin: 0 auto;
    
  }
  h1{
    margin: 80px auto;
    color: #62cdee;
    text-align: center;
  }
  ul{
    padding: 0;
    list-style-type: none;
  }
  li{
    padding: 6px 10px;
    border: 1px solid #eee;
    margin: 10px auto;
  }
  li h4{
    color: #62cdee;
    margin: 0;
    text-transform: capitalize;
  }
  li p{
    color: #333;
    margin: 8px 0 0;
  }
  footer{
    background: #eee;
    padding: 60px;
    margin-top: 60px;
  }
  form{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  label{
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #333;
    margin: 16px 0 6px;
  }
  input, select{
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  .field{
    display: inline-block;
    margin: 0 10px;
  }
  button{
    color: white;
    border: 0;
    background: #62cdee;
    padding: 6px;
    min-width: 80px;
    border-radius: 4px;
  }
  footer a{
    text-align: center;
    display: block;
    color: #999;
    margin-top: 40px;
    font-size: 0.7em;
  }


  /* .success-message {
    position: fixed;
    top: 0;
    left: 50%;
    
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #070707;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    border-color: #000000;
  } */
  
  .fa-check-circle {
    margin-left: 5px;
  }

  .success-message{
    display: none;
    position: fixed;
    top: -50px; /* Initially hide the message above the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #ffffff; /* Green background color */
    color: rgb(0, 0, 0); /* White text color */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    animation: slideDown 0.3s ease forwards; /* Apply animation */
    border: 2px solid #000;
}

.failure-message{
    display: none;
    position: fixed;
    top: -50px; /* Initially hide the message above the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    background-color: #ffffff; /* Green background color */
    color: rgb(0, 0, 0); /* White text color */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    animation: slideDown 0.3s ease forwards; /* Apply animation */
    border: 2px solid #000;
}

.success-message span{
  margin-right: 10px;
}

/* Keyframes for the animation */
@keyframes slideDown {
    0% {
        top: -20px; /* Start position above the viewport */
    }
    100% {
        top: 10px; /* End position below the header */
    }
}

.imagee .imagee2{
  border: #000;
  padding-right: 1cm;
  padding-top: 1cm;

}
